body {
  margin: 0;
  padding: 0;
  background: #32824f url(img/fond.jpg) fixed repeat;
  color: #6b6b6b;
  font: 62.5% "Lucida Grande", Arial, sans-serif; /* verdana, arial, helvetica, sans-serif */
}

/** colors and style */

.brown {
  color: #96580f;
}

h2 {
  font-size: 1.4em;
  color: #4e9a60;
}
/** we kept id selector because it's a 
 *  direct port of previous
 *  dotclear theme
 */
#page {
  font-size: 1.2em;
}

#top {
  height: 200px;
  width: 950px;
  margin: 30px auto 4px auto;
  background-image: url("img/headers.png");
}
.wp-block-group {
  box-sizing: border-box;
}

.wp-block-image img {
  width: auto;
  max-width: 100%;
  height: auto;
}

#wrapper {
  width: 950px;
  overflow: hidden;
  margin: 0px auto 0 auto;
  padding: 0 0 10px 0;
  background: transparent url("img/page-bg.png") repeat-y top left;
}

#main {
  width: 750px;
  float: left;
  background-color: #fff;
}

#content {
  padding: 0 25px;
}

#sidebar {
  width: 200px;
  float: right;
}
#blognav,
#blogextra {
  padding: 30px 20px 1px 20px;
}

#footer {
  clear: both;
  padding: 20px 0 0 0;
  background: transparent url("img/page-b.png") no-repeat top center;
  min-width: 950px;
}
#footer p {
  margin: 0 auto;
  padding: 10px 0 20px;
  background: transparent;
  color: #b7ccbe;
  text-align: center;
  font-size: 11px;
}

/** Les petits headers avant le post */
.post-title {
  color: #004a80;
  font-size: 16px;
  margin: 30px 0px 0px 0px;
}
.avatar {
  float: left;
  margin: -10px 5px 0 -5px;
}
.post-title a {
  color: #004a80;
}
.post-info {
  margin: 0 0 19px 0;
  color: #6b6b6b;
  font-size: 0.8em;
}

#navlinks {
  margin: 10px 0 -10px 0;
}

/* Comments and trackbacks
-------------------------------------------------------- */
#comments {
  clear: both;
}
#comments h3,
#comment-form h3,
#pings h3 {
  border-width: 1px 0;
  border-style: solid;
  border-color: #bfbfbf;
  background: #fbfbfb;
  padding: 5px;
  margin: 20px 0 8px 0;
  font-size: 1.2em;
}

#comments dt {
  margin: 1.5em 0 0 0;
  padding: 5px 0 16px 0;
  background: transparent url(img/comment-t.png) no-repeat bottom left;
}
#comments dt.me {
  background: transparent url(img/commentmy-t.png) no-repeat bottom left;
}
#comments a.comment-number {
  display: block;
  float: left;
  width: 30px;
  margin-right: 40px;
  font-size: 1.2em;
}
#comments dd {
  margin: 0;
  padding: 1px 1em 0.5em 1em;
  background: #fffad1 url(img/comment-b.png) no-repeat bottom left;
  color: #6b6b6b;
}
#comments dd.me {
  background: #dcf7e7 url(img/commentmy-b.png) no-repeat bottom left;
  color: #6b6b6b;
}
#comments dd p {
  margin: 0.5em 0;
  line-height: 1.5em;
}

.error {
  margin: 20px 0 0;
  padding: 10px 5px;
  background: #ffcccc;
  border: 2px solid red;
  font-weight: bold;
}

/* Forms
-------------------------------------------------------- */
#comment-form {
  padding-top: 10px;
}

#comment-form fieldset {
  border: none;
}
#comment-form fieldset p {
  padding: 5px 0;
}
#comment-form fieldset p.field {
  padding: 5px 0;
  width: auto;
  margin: 0;
  clear: left;
}
#comment-form p.form-help {
  width: 60%;
  margin: 0 0 0 30%;
  font-style: italic;
}

#comment-form p label {
  width: auto;
}
#comment-form p.field label {
  font-weight: bold;
  display: block;
  padding: 0 1% 0 0;
  width: 29%;
  float: left;
  text-align: right;
}
#comment-form input,
#comment-form textarea {
  font: 1em "Lucida Grande", Arial, sans-serif;
  color: #000;
  border: 1px solid #cdcdcd;
  padding: 1px 2px;
  width: 68%;
}

#comment-form p.remember {
  margin: 0;
}
#comment-form input#c_remember {
  width: auto;
  border: 0;
  margin: 0 5px 0 30%;
}
#comment-form input.preview {
  margin-left: 30%;
}

#comment-form input.preview,
#comment-form input.submit {
  width: auto;
  color: #4e9a60;
  background: #fff;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #4e9a60;
}
#comment-form input.preview:hover,
#comment-form input.submit:hover {
  background: #4e9a60;
  color: #fff;
  border: 1px solid #4e9a60;
}

a {
  color: #4e9a60;
  text-decoration: none;
  outline: none;
}

.bypostauthor {
  color: #4e9a60;
  font-weight: bolder;
}

.post-info-co {
  clear: left;
  margin: 20px 0 60px 0;
  padding: 3px 0 3px 0.5em;
  border-width: 1px 0;
  border-style: solid;
  border-color: #bfbfbf;
  background: #fbfbfb;
}

.post-info-co a {
  color: #2b2b2b;
  padding: 2px 10px 2px 18px;
}

.category-link:before {
  content: "#";
}

.category-link:hover {
  color: #4e9a60;
}

.haut a {
  float: right;
  font-size: 9px;
  color: #b7ccbe;
  padding: 0;
}

.comment_count {
  background: transparent url(img/comment.png) no-repeat 0 50%;
}

/** Sidebar doodles */
.link-image:hover {
  filter: hue-rotate(40deg);
}

.doodle-separator {
  width: 150px;
  display: block;
  margin: 4rem auto;
  border-style: none;
  border-width: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.doodle-1 {
  background-image: url("img/doodles/doodle1.png");
  height: 152px;
}
.doodle-2 {
  background-image: url("img/doodles/doodle2.png");
  height: 99px;
}
.doodle-3 {
  background-image: url("img/doodles/doodle3.png");
  height: 218px;
}
.doodle-4 {
  background-image: url("img/doodles/doodle4.png");
  height: 99px;
}
.doodle-5 {
  background-image: url("img/doodles/doodle5.png");
  height: 112px;
}
.doodle-6 {
  background-image: url("img/doodles/doodle6.png");
  height: 235px;
}
.doodle-7 {
  background-image: url("img/doodles/doodle7.png");
  height: 89px;
}
.doodle-8 {
  background-image: url("img/doodles/doodle8.png");
  height: 85px;
}

/** Search form */
.search-form {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  gap: 4px;
}
.search-form label,
.search-form input {
  width: auto;
  max-width: 100%;
}
.search-form input[type="submit"] {
  background-color: #4e9a60;
  color: white;
  border-radius: 5%/30%;
  border: 0.4px solid #333;
}

.item-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 4px;
}

.item {
  flex: 1;
}

.item:hover {
  filter: sepia(1);
}

.day-date {
  font-size: 11px;
  margin: -37px 0 0px 135px;
  text-align: right;
  color: #6b6b6b;
  border-bottom: 0.5px solid #4e9a60;
}

/** Sidebar archives list */
.archive-year {
  margin: 0;
  padding: 4px 0;
  border-top: 1px solid #d3373b;
  line-height: 150%;
}

.archive-year ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0px 0;
  border: none;
}
.archive-year li {
  display: list-item;
  margin: 0.5em 0 0 0;
  padding: 0 0;
  border: none;
}
.archive-year li a {
  background-image: none;
  padding-left: 21px;
  color: #000;
  text-decoration: none;
  list-style: none;
  list-style-position: outside;
}

.archive-year li a:hover {
  color: #d3373b;
}

.book-cover {
  width: 160px;
  height: auto;
}

/** sidebar hack to display  picture */
.laec {
  display: block;
  width: 169px;
  height: 338px;
  background-size: cover;
  background-image: url("img/laecBDmini.png");
}

.mazette {
  display: block;
  width: 170px;
  height: 91px;
  background-size: cover;
  background-image: url("img/mazette170.jpg");
}

.tipee {
  display: block;
  width: 170px;
  height: 430px;
  background-size: cover;
  background-image: url("img/tipeee.jpg");
}

.blogroll-list {
  padding: 2px 0;
}
.blogroll-item {
  text-decoration: none;
  list-style: none;
  list-style-position: outside;
  border-top: 1px solid #d3373b;
  padding: 2px 0;
}

/** Social net */
.social-links-list {
  display: block;
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-link-item img {
  width: 75px;
  height: 75px;
  border-radius: 2px;
  flex: 1;
  list-style: none;
}

.social-link-item {
  filter: opacity(0.8);
}
.social-link-item:hover {
  filter: opacity(1);
}

.flex-icon {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.flex-icon img {
  width:50%;
  height: auto;
}

.big-letter {
    font-size: 150px;
    line-height: 1;
    font-family: 'Comic Sans MS', 'Comic Neue', cursive;
    color: #333;
    margin-right: 20px;                
}

.big-letter:hover {
  color: #555;
}
/** Parallaxe **/
.parallax-viewport {
  position: relative; /* relative, absolute, fixed */
  overflow: hidden;
}
.parallax-layer {
  position: absolute;
}

#top a {
  color: transparent;
  text-decoration: none;
}

#parallax {
  position: relative;
  overflow: hidden;
  width: 950px;
  height: 200px;
  background-image: url(img/banner/melaka_banner_0.png);
  background-position: left -10px bottom 0;
}
