:root {
  --parallax-base: 950;
}

body {
  margin: 0;
  padding: 0;
  color: #6b6b6b;
  font: 62.5% "Lucida Grande", Arial, sans-serif; /* verdana, arial, helvetica, sans-serif */
}

hr {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
}
/** Layout */
#container {
  width: 100%;
}
#top {
  width: 100%;
  height: 21.1%;
}

/** parallax should be in aspect ratio instead of exact px */

#parallax {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 19/4;
}

.parralax-1200x200 {
  width: calc(100% * 1200 / var(--parallax-base));
  height: 100%;
}

.parralax-1100x200 {
  width: calc(100% * 1100 / var(--parallax-base));
  height: 100%;
}

.parralax-980x200 {
  width: calc(100% * 980 / var(--parallax-base));
  height: 100%;
}

.parralax-950x200 {
  width: calc(100% * 950 / var(--parallax-base));
  height: 100%;
}

/** End of parallax */
#wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 5px;
}

#main {
  width: 78%;
}

#sidebar {
  width: 22%;
  padding: 10px 10px 1px 10px;
  background-color: white;
}

#footer {
  width: 100%;
}

/** Because we mix wordpress and previous blog ( dotclear ) content *ยง
/** All images...*/
#content img { 
  width: 100%;
}
/**...but avatar */
#content img.avatar {
  width: 40px;
  height: 40px;
}
.size-full img,
.overheight img
 {
  width: auto;
  max-width: 100%;
  height: auto;
}


/********************************************************
 * Some change when you are on desktop
 ********************************************************/

@media only screen and (min-width: 768px) {
  #container {
    width: 950px;
    margin: auto;
  }
  /* tablets and desktop */
  #content {
    padding: 0 25px;
  }

  .big-letter {
    font-size: 150px;
    line-height: 1;
    font-family: "Comic Sans MS", "Comic Neue", cursive;
    color: #a33;
    margin-right: 20px;
  }

  #top {
    margin: 30px auto 4px auto;
  }

  .doodle-separator {
    margin: 4rem auto;
  }

  #sidebar {
    width: 22%;
    padding: 30px 20px 1px 20px;
  }

  .archive-year li a {
    padding-left: 21px;
  }
  .day-date {
    font-size: 11px;
    margin: -37px 0 0px 135px;
  }
  .post-title {
    font-size: 14px;
  }
}
/*********************************************************/

/** sidebar hack to display  picture */

.big-letter {
  color: #3a3;
  font-size: 15px;
  line-height: 1;
  font-family: "Comic Sans MS", "Comic Neue", cursive;
  color: #333;
  margin-right: 5px;
}

.link-thumb {
  margin: auto;
}
.laec {
  display: block;
  width:80%;
  aspect-ratio: 1/2;
  margin: auto;
  background-size: cover;
  background-image: url("img/laecBDmini.png");
}

.mazette {
  display: block;
  width:80%;
  aspect-ratio: 170/91;
  margin: auto;
  background-size: cover;
  background-image: url("img/mazette170.jpg");
}

.tipee {
  display: block;
  width:80%;
  aspect-ratio: 17/43;
  margin: auto;
  background-size: cover;
  background-image: url("img/tipeee.jpg");
}

/** colors and style */

.brown {
  color: #96580f;
}

h2 {
  font-size: 1.4em;
  color: #4e9a60;
}
/** we kept id selector because it's a 
 *  direct port of previous
 *  dotclear theme
 */
#page {
  font-size: 1.2em;
}

#top {
  margin: 0px auto 4px auto;
}
.wp-block-group {
  box-sizing: border-box;
}

#wrapper {
  margin: 0px auto 0 auto;
  padding: 0 0 10px 0;
  justify-content: space-between;
}

#main {
  padding: 8px;
  background-color: white;
}

#footer {
  padding: 20px 0 0 0;
}

#footer p {
  margin: 0 auto;
  padding: 10px 0 20px;
  background: transparent;
  color: #b7ccbe;
  text-align: center;
  font-size: 11px;
}

/** Les petits headers avant le post */
.post-title {
  color: #004a80;
  font-size: 14px;
  margin: 30px 0px 0px 0px;
}
.avatar {
  float: left;
  margin: -10px 5px 0 -5px;
}
.post-title a {
  color: #004a80;
}
.post-info {
  margin: 0 0 19px 0;
  color: #6b6b6b;
  font-size: 0.8em;
}

#navlinks {
  margin: 10px 0 -10px 0;
}

/* Comments and trackbacks
-------------------------------------------------------- */
#comments {
  clear: both;
}
#comments h3,
#comment-form h3,
#pings h3 {
  border-width: 1px 0;
  border-style: solid;
  border-color: #bfbfbf;
  background: #fbfbfb;
  padding: 5px;
  margin: 20px 0 8px 0;
  font-size: 1.2em;
}

#comments dt {
  margin: 1.5em 0 0 0;
  padding: 5px 0 16px 0;
  background: transparent url(img/comment-t.png) no-repeat bottom left;
}
#comments dt.me {
  background: transparent url(img/commentmy-t.png) no-repeat bottom left;
}
#comments a.comment-number {
  display: block;
  float: left;
  width: 30px;
  margin-right: 40px;
  font-size: 1.2em;
}
#comments dd {
  margin: 0;
  padding: 1px 1em 0.5em 1em;
  background: #fffad1 url(img/comment-b.png) no-repeat bottom left;
  color: #6b6b6b;
}
#comments dd.me {
  background: #dcf7e7 url(img/commentmy-b.png) no-repeat bottom left;
  color: #6b6b6b;
}
#comments dd p {
  margin: 0.5em 0;
  line-height: 1.5em;
}

.error {
  margin: 20px 0 0;
  padding: 10px 5px;
  background: #ffcccc;
  border: 2px solid red;
  font-weight: bold;
}

/* Forms
-------------------------------------------------------- */
#comment-form {
  padding-top: 10px;
}

#comment-form fieldset {
  border: none;
}
#comment-form fieldset p {
  padding: 5px 0;
}
#comment-form fieldset p.field {
  padding: 5px 0;
  width: auto;
  margin: 0;
  clear: left;
}
#comment-form p.form-help {
  width: 60%;
  margin: 0 0 0 30%;
  font-style: italic;
}

#comment-form p label {
  width: auto;
}
#comment-form p.field label {
  font-weight: bold;
  display: block;
  padding: 0 1% 0 0;
  width: 29%;
  float: left;
  text-align: right;
}
.comment-form-comment input,
.comment-form-comment textarea {
  font: 1em "Lucida Grande", Arial, sans-serif;
  color: #000;
  border: 1px solid #cdcdcd;
  padding: 1px 2px;
  width: 90%;
}

#comment-form p.remember {
  margin: 0;
}
#comment-form input#c_remember {
  width: auto;
  border: 0;
  margin: 0 5px 0 30%;
}
#comment-form input.preview {
  margin-left: 30%;
}

#comment-form input.preview,
#comment-form input.submit {
  width: auto;
  color: #4e9a60;
  background: #fff;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid #4e9a60;
}
#comment-form input.preview:hover,
#comment-form input.submit:hover {
  background: #4e9a60;
  color: #fff;
  border: 1px solid #4e9a60;
}

a {
  color: #4e9a60;
  text-decoration: none;
  outline: none;
}

.bypostauthor {
  color: #4e9a60;
  font-weight: bolder;
}

.post-info-co {
  clear: left;
  margin: 20px 0 60px 0;
  padding: 3px 0 3px 0.5em;
  border-width: 1px 0;
  border-style: solid;
  border-color: #bfbfbf;
  background: #fbfbfb;
}

.post-info-co a {
  color: #2b2b2b;
  padding: 2px 10px 2px 18px;
}

.category-link:before {
  content: "#";
}

.category-link:hover {
  color: #4e9a60;
}

.haut a {
  float: right;
  font-size: 9px;
  color: #b7ccbe;
  padding: 0;
}

.comment_count {
  background: transparent url(img/comment.png) no-repeat 0 50%;
}

/** Sidebar doodles */
.link-image:hover {
  filter: hue-rotate(40deg);
}

.doodle-separator {
  display: block;
  margin: 1rem auto;
  border-style: none;
  border-width: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.book-presentation {
  width: 100%;
}
.book-cover {
  margin: auto;
  width: 100%;
  aspect-ratio: 265/363 !important;
  height: auto !important;
}

.doodle-separator {
  /** All doodle are 150px wide on the original sidebar design 
   *  where the sidebar is 200px
   */
  width: calc(100% * 150 / 200);
  background-size: contain;
}

.doodle-1 {
  background-image: url("img/doodles/doodle1.png");
  height: calc(152px * 150 / 200);
}
.doodle-2 {
  background-image: url("img/doodles/doodle2.png");
  height: calc(99px * 150 / 200);
}
.doodle-3 {
  background-image: url("img/doodles/doodle3.png");
  height: calc(218px * 150 / 200);
}
.doodle-4 {
  background-image: url("img/doodles/doodle4.png");
  height: calc(99px * 150 / 200);
}
.doodle-5 {
  background-image: url("img/doodles/doodle5.png");
  height: calc(112px * 150 / 200);
}
.doodle-6 {
  background-image: url("img/doodles/doodle6.png");
  height: calc(235px * 150 / 200);
}
.doodle-7 {
  background-image: url("img/doodles/doodle7.png");
  height: calc(89px * 150 / 200);
}
.doodle-8 {
  background-image: url("img/doodles/doodle8.png");
  height: calc(85px * 150 / 200);
}
.doodle-9 {
  width: 80%;
  margin: auto;
  aspect-ratio: 1;
}

.link-image {
  height: calc(89px * 150 / 200);
}
.link-image img {
  width: 100%;
  height: auto;
}
/** Search form */
.search-form {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  gap: 4px;
}
.search-form label,
.search-form input {
  width: 100%;
  max-width: 100%;
}
.search-form input[type="submit"] {
  background-color: #4e9a60;
  color: white;
  border-radius: 5%/30%;
  border: 0.4px solid #333;
}

.item-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 4px;
}

.item {
  flex: 1;
}

.item:hover {
  filter: sepia(1);
}

.day-date {
  font-size: 8px;
  margin: -30px 0 0px 135px;
  text-align: right;
  color: #6b6b6b;
  border-bottom: 0.5px solid #4e9a60;
}

/** Sidebar archives list */
.archive-year {
  margin: 0;
  padding: 4px 0;
  border-top: 1px solid #d3373b;
  line-height: 150%;
}

.archive-year ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0px 0;
  border: none;
}
.archive-year li {
  display: list-item;
  margin: 0.5em 0 0 0;
  padding: 0 0;
  border: none;
}
.archive-year li a {
  background-image: none;
  color: #000;
  text-decoration: none;
  list-style: none;
  list-style-position: outside;
}

.archive-year li a:hover {
  color: #d3373b;
}

.blogroll-list {
  padding: 2px 0;
}
.blogroll-item {
  text-decoration: none;
  list-style: none;
  list-style-position: outside;
  border-top: 1px solid #d3373b;
  padding: 2px 0;
}

/** Social net */
.social-links-list {
  display: block;
  list-style: none;
  margin: 0;
  padding-inline-start: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.social-link-item img {
  width: 75px;
  height: 75px;
  border-radius: 2px;
  flex: 1;
  list-style: none;
}

.social-link-item {
  filter: opacity(0.8);
}
.social-link-item:hover {
  filter: opacity(1);
}

.flex-icon {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.flex-icon img {
  width: 50%;
  height: auto;
}

.big-letter:hover {
  color: #555;
}

.parallax-layer {
  position: absolute;
}

#top a {
  color: transparent;
  text-decoration: none;
}

#parallax {
  position: relative;
  overflow: hidden;
  background-image: url(img/banner/melaka_banner_0.png);
  background-position: left -10px bottom 0;
}
