<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="max-width:950px;margin:0 auto;display:flex;flex-direction:row;">
    
    <!-- wp:group {"width":"750px","style":{"spacing":{"padding":{"left":"25px","right":"25px"}}}} -->
    <div class="wp-block-group" style="width:750px;padding-left:25px;padding-right:25px;">
        <!-- wp:post-content /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:template-part {"slug":"sidebar","tagName":"aside"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"navigation","tagName":"nav"} /-->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
